@model BEE.Models.NewRegViewModel
<div asp-validation-summary="All"></div>
@if(TempData["error"] != null)
{
    <p>@TempData["error"]</p>
}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<script src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<body>
    <div id="second">
        <!-- <div id="Login"> -->
            <!-- Html.Partial("NewLogin") add back the at symbol-->
        <!-- </div> -->
		<div class="myform form ">
            <div class="logo mb-3">
                <div class="col-md-12 text-center">
                    <h1 >Register</h1>
                </div>
            </div>
            
            <form asp-controller="Home" asp-action="AddUserForm" method="POST">
                <div class="form-group">
                    <label asp-for="firstName"></label>
                    <input class ="form-control" asp-for="firstName" id="firstName" aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                    <label asp-for="lastName"></label>
                    <input class ="form-control" asp-for="lastName" id="lastName" aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                    <label asp-for="stAddress"></label>
                    <input class ="form-control" asp-for="stAddress" id="stAddress" aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                     <label asp-for="city"></label>
                    <input class ="form-control" asp-for="city" id="city" aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                    <label asp-for="state"></label>
                    <input class ="form-control" asp-for="state" id="state" aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                    <label asp-for="zip"></label>
                    <input class ="form-control" asp-for="zip" id="zip" aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                    <label asp-for="email"></label>
                    <input class ="form-control" asp-for="email" id="email" aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                    <label asp-for="userType"></label>
                    <input class ="form-control" asp-for="userType" id="userType" aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                    <label asp-for="password"></label>
                    <input class ="form-control" asp-for="password" id="password" aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                    <label asp-for="cpassword"></label>
                    <input class ="form-control" asp-for="cpassword" id="cpassword" aria-describedby="emailHelp">
                </div>
                <div class="col-md-12 text-center mb-3">
                    <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm">Get Registered</button>
                </div>
                
        </div>
            </form>
            <form asp-controller="Home" asp-action="LoginUserForm" method="POST">
                <div class="col-md-12 ">
                    <div class="form-group">
                        <p class="text-center"><a asp-action="LoginUserForm" id="signin">Already have an account?</a></p>
                    </div>
                </div>
            </form>
    </div>
	    </div>
	        </div>
    </div>   
</body>       
