@model BEE.Models.NewUserViewModel
<div asp-validation-summary="All"></div>
@if(TempData["error"] != null)
{
    <p>@TempData["error"]</p>
}
<br>
<h1>🌷 Hi Mags! 🌼</h1>
<br>

<div id="Login">
    @Html.Partial("Login")
</div>

<div id="Register">
<h3> Register </h3>
<!-- <a asp-action="LoginUserPage">Already Registered?</a> -->
<hr>
    <div class="form-group">
        <form asp-controller="Home" asp-action="AddUserForm" method="POST">
            <label asp-for="firstName"></label>
            <input class ="form-control" asp-for="firstName"/><br>

            <label asp-for="lastName"></label>
            <input class ="form-control" asp-for="lastName"/><br>

            <label asp-for="stAddress"></label>
            <input class ="form-control" asp-for="stAddress"/><br>

            <label asp-for="city"></label>
            <input class ="form-control" asp-for="city"/><br>

            <label asp-for="state"></label>
            <input class ="form-control" asp-for="state"/><br>

            <label asp-for="zip"></label>
            <input class ="form-control" asp-for="zip"/><br>

            <label asp-for="email"></label>
            <input class ="form-control" asp-for="email"/><br>

            <label asp-for="userType"></label>
            <input class ="form-control" asp-for="userType"/><br>

            <label asp-for="password"></label>
            <input class ="form-control" asp-for="password"/><br>

            <!-- <label asp-for="confirmPassword"></label>
            <input class ="form-control" asp-for="confirmPassword"/><br> -->

            <button type="submit" class="btn btn-info" >Submit</button>
        </form>
    </div>
</div>