
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}
#Register{
    display: inline-block;
    vertical-align: top;
    margin-left: 20%;
}
#Login{
    display: inline-block;
    vertical-align: top;
    margin-left: 20%;
    
}

#map{
    height: 500px;
}

.loginphoto{
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%; 
}


/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}



#HiveAddBG{
    background-size: cover;
    background-position: 50% 50%;
    background-image: url('/images/hiveback2.jpg');
    padding-top: 25px;
}

#HiveCityStateZip{
    padding-bottom: 70px;
}

#HiveCity{
    padding: 0px;
}

#HiveZip{
    padding: 0px;
}

.landAmountForm{
    margin-top: 35px;
}

#PermAddBG{
    background-size: cover;
    background-position: 50% 50%;
    background-image: url('/images/permFormBG.jpg');
    padding-top: 25px;
}

#PermAddBG h4{
    color: white;
    text-shadow: black 0.1em 0.1em 0.1em;
    margin-bottom: 35px;
    display: inline-block;
    vertical-align: middle;
}

#PermCheck {
    width: 35px;
    height: 35px;
    margin-top: 15px;
}

#myHivesBackImage{
    background-size: cover;
    background-position: 50% 50%;
    background-image: url('/images/myHivesBack.jpg');
}

#myHivesTableText{
    color: white;
    text-shadow: black 0.1em 0.1em 0.1em;
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 50px;
}

#myHivesTableText p{
    color: white;
    text-shadow: black 0.1em 0.1em 0.1em;
    display: inline-block;
    vertical-align: middle;
    padding-top: 5px;
}

#myHivesBtns{
    background: linear-gradient(#F1C40F, #AF601A);
    box-shadow: black 0.1em 0.1em 0.4em;
    border: black;
    color: white;
    text-shadow: black 0.1em 0.1em 0.1em;
}


